
@*@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ChefLayoutPage.cshtml";
}

<h2>Index</h2>*@
@model IEnumerable<IngredientTracker.Models.Recipe>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ChefLayoutPage.cshtml"; 
}

<h2>Recipe List</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RecipeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecipeDescription)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RecipeName)              
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecipeDescription)
            </td>
            @*<td>
                @Html.ActionLink("Edit", "Edit", new { id = item.RecipeId }) |
                @Html.ActionLink("Details", "Details", new { id = item.RecipeId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.RecipeId })
            </td>*@
        </tr>
    }

</table>


